:root {
  --h1: white;
  --nav-links: white; 
  --main-color: ;
  --dark: rgb(20, 20, 20);
  --light: #1b89bc;
  --accent: #cc1111;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  background-color: var(--dark);
  height: 90px;  
}

#daily-dev-dose {
  color: var(--h1);
  font-weight: 600;
  margin-left: 1rem;
}

.project:not(:last-child) {
  border-bottom: 2px solid var(--accent);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  color: var(--light);
  text-decoration: none;
  font-size: 100%;
  cursor: pointer;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

#login,
#signup {
  margin-right: 1rem;
  font-weight: 600;
  color: var(--nav-links); 
}

