/* ------------------------------------------------------------- */
/* CSS VARIABLES */
:root {
  --nav-links: #fff; 
  --dark: rgb(4, 25, 35);
  --light: #ffb356;
  --accent: #20fa9b;
  --hover: #eb3298;
}

/* ------------------------------------------------------------- */

/* UNIVERSAL */
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ------------------------------------------------------------- */

/* MAIN CSS */
header {
  background-color: var(--dark);
  height: 100px;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.778);
}

footer {
  background-color: var(--dark);
  height: 80px;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.778);
}

body {
  background-color: var(--dark);
}

p {
  margin: 0;
}

h2 {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--nav-links);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  color: var(--light);
  text-decoration: none;
  font-size: 100%;
  cursor: pointer;
}

.no-button:hover {
  color: var(--hover);
}

#daily-dev-dose {
  font-family: 'Honk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

#daily-dev-dose:hover {
  font-size: 4.8rem;
  transition: .1s;
}

#dashboard,
#login,
#signup {
  margin-right: 1rem;
  font-weight: 600;
  color: var(--nav-links); 
}

#dashboard:hover,
#login:hover,
#signup:hover {
  /* color: var(--accent); */
  font-size: 1.3rem;
  transition: .1s;
}

/* ------------------------------------------------------------- */

/* HOMEPAGE CSS */

.post-titles {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.post-titles:hover {
  color: black; 
  text-decoration: underline; 
  transition: .1s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap: 20px; /* Adjust the gap between cards */
}

.card {
  margin: 15px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: -8px 20px 15px rgba(0, 0, 0, 0.778);
  background: linear-gradient(to bottom, white, var(--light), var(--hover));

  display: flex; 
  justify-content: center;
  align-items: center;
}

.card:hover {
  border: 5px solid black;
  transition: .3s;
}

.post-by {
  color: black;
  font-weight: 500;
}

.post:not(:last-child) {
  border-bottom: 2px solid var(--accent);
}

/* ------------------------------------------------------------- */

/* LOGIN/SIGNUP CSS */

label {
  color: var(--nav-links);
}

#login-btn {
  margin-top: 11px;
  color: black;
  background: linear-gradient(to bottom, white, var(--light), var(--hover));
  padding: 1rem;
  border: none; 
  font-weight: 600;
  font-size: 1.5rem;
}

#login-btn:hover {
  border: 5px solid black;
  transition: .3s;
}




/* ------------------------------------------------------------- */












